create a series obj which consist array having values first 7 multiples of 5

1.   List item
2.   List item

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
arr = np.array([5,10,15,20,25,30,35])
ser = pd.Series(arr, index = [100, 101, 102, 103, 104, 105, 106])

In [ ]:
ser

0     5
1    10
2    15
3    20
4    25
5    30
6    35
dtype: int64

crt series of arr along with indexes having alphabets of your name

In [ ]:
name = np.array(['m','a','r','i','y','a'])
ser1 = pd.Series(name, index = [100, 101, 102, 103, 104, 105])
ser1

100    m
101    a
102    r
103    i
104    y
105    a
dtype: object

crt a series obj using list containg values as the leep years from 1990 till 2030

In [ ]:
leap_year = [1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028]
ser2 = pd.Series(leap_year)
ser2

0    1992
1    1996
2    2000
3    2004
4    2008
5    2012
6    2016
7    2020
8    2024
9    2028
dtype: int64

crt series obj using dict having key as name of states and values are corresponding capitals (7 states)

In [ ]:
dict = {'Kerala' : 'Thiruvananthapuram', 'Tamil Nadu' : 'Chennai', 'Arunachal Pradesh' :	'Itanagar', 'Assam' :	'Dispur', 'Bihar': 'Patna', 'Chhattisgarh' :	'Raipur', 'Manipur' : 'Imphal'}
ser3 = pd.Series(dict)
ser3

Kerala               Thiruvananthapuram
Tamil Nadu                      Chennai
Arunachal Pradesh              Itanagar
Assam                            Dispur
Bihar                             Patna
Chhattisgarh                     Raipur
Manipur                          Imphal
dtype: object

crt series obj giving a constant value yet to come with the indexes in the multiples of 11 (7 multiples)

In [ ]:
scalar = 'yet to come'
ser4 = pd.Series(scalar, index = [11, 22, 33, 44, 55, 66, 77])
ser4

11    yet to come
22    yet to come
33    yet to come
44    yet to come
55    yet to come
66    yet to come
77    yet to come
dtype: object

crt a series obj to print multiples of 4 ranging btwn 1 to 100

In [ ]:
start = 4
stop = 100
num_values = (stop - start) // 4 + 1
multiples_of_4 = np.linspace(start, stop, num=num_values, dtype = int)
ser5 = pd.Series(multiples_of_4)
ser5

0       4
1       8
2      12
3      16
4      20
5      24
6      28
7      32
8      36
9      40
10     44
11     48
12     52
13     56
14     60
15     64
16     68
17     72
18     76
19     80
20     84
21     88
22     92
23     96
24    100
dtype: int64